@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
}